<!-- intro -->
<div
  class="intro amber z-depth-1 my-logo-text"
  [ngStyle]="this.getBackgroundImage()"
>
  <h1 class="grey-text text-lighten-5">ROUBANK</h1>
  <h4 class="amber-text text-darken-1">Mais tarifas para você!!!</h4>
  <h5 class="amber-text text-darken-1" [style.backgroundColor]="'black'">
    Só hoje recebemos um total de
    <span id="tax-span" class="red-text">0</span>
    Reais em tarifas!
  </h5>
</div>
<!-- intro -->

<!-- container -->
<div class="container about">
  <!-- painel serviços  -->
  <div id="painel-servicos" [hidden]="this.isHidePanel">
    <h5>Serviços</h5>
    <hr />
    <div class="row">
      <!-- serviços -->
      <div class="col s12 m6">
        <a href="#">
          <div class="card-panel amber accent-4 center my-card-button">
            <span class="white-text flow-text"> SAQUE </span>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a href="#">
          <div class="card-panel amber accent-4 center my-card-button">
            <span class="white-text flow-text"> DEPÓSITO </span>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a href="#">
          <div class="card-panel amber accent-4 center my-card-button">
            <span class="white-text flow-text"> SALDO </span>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a href="#">
          <div class="card-panel amber accent-4 center my-card-button">
            <span class="white-text flow-text"> EXTRATO </span>
          </div>
        </a>
      </div>
      <!-- serviços -->
    </div>
    <!-- fim linha -->
  </div>
  <!-- fim painel serviços -->

  <!-- painel login -->
  <div id="painel-login" class="row">
    <div class="col s12 m6 offset-m3">
      <a routerLink="/login">
        <div
          id="botao-login"
          class="card-panel amber accent-4 center my-card-button"
        >
          <span class="white-text flow-text"> LOGIN </span>
        </div>
      </a>
    </div>
  </div>
  <!-- fim painel login -->
</div>
<!-- fim container -->
