<div class="container contact">
  <h5>Login</h5>
  <h6>Entre com os seus dados</h6>
  <hr />
  <div class="row">
    <div class="col s12">
      <div
        id="msg-login"
        class="card-panel red white-text"
        style="display: none"
      ></div>
    </div>
    <form class="col s12" id="form-login">
      <div class="row">
        <div class="input-field col s12">
          <input id="input-username" type="text" class="validate" />
          <label for="input-username">Nome de Usuário</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="input-password" type="text" class="validate" />
          <label for="input-password">Senha</label>
        </div>
      </div>
      <button
        class="btn waves-effect waves-light amber darken-4"
        type="submit"
        name="action"
      >
        Enviar
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
