<!-- menu -->
<div class="navbar-fixed" style="z-index: 1001 !important">
  <nav>
    <div class="nav-wrapper amber accent-4">
      <div class="container">
        <a class="brand-logo" href="#">
          <img class="my-logo" src="/assets/resources/images/logo.png" />
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#" class="flow-text">Saque</a>
          </li>
          <li><a routerLink="/deposito" class="flow-text">Depósito</a></li>
          <li><a routerLink="/saldo" class="flow-text">Saldo</a></li>
          <li><a href="#" class="flow-text">Extrato</a></li>
          <li><a routerLink="/doacao" class="flow-text">Doação</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="sidenav amber" id="mobile-demo" #mobile>
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="center">
          <img
            class="circle responsive-img"
            src="/assets/resources/images/logo.png"
          />
        </div>
      </div>
    </div>
    <li><a href="#" class="flow-text">Saque</a></li>
    <li><a routerLink="/deposito" class="flow-text">Depósito</a></li>
    <li><a routerLink="/saldo" class="flow-text">Saldo</a></li>
    <li><a href="#" class="flow-text">Extrato</a></li>
    <li><a [routerLink]="'/doacao'" class="flow-text">Doação</a></li>
  </ul>
</div>
<!-- fim menu -->
