<footer class="page-footer amber accent-4">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <img
          src="assets/resources/images/logo.png"
          id="logo-footer"
          class="img-responsive"
          height="120em"
        />
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container my-font">
      &copy; Copyright - {{ this.year }} - Todos os direitos reservados
    </div>
    <ng-content></ng-content>
  </div>
</footer>
